:root{
  --nav-text: #2d2d2d;
  --footer: #1e1e1e;
  --text-grid: #515151;
  --yellow: #e2cb23;
  --yellow-team: #efd928;
  --title-services: #eb2c8b;
  --cards: #f602a4;
  --metodologia: #f749bb;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::selection {
  background-color: #f602a4;
  color:  #F9FEFF;
}

button.slick-prev:before,
button.slick-next:before {
  color: #2d2d2d !important;
}

@font-face{
  font-family: sifonn;
  src: url(../fonts/SIFONN_PRO.otf);
}
@font-face{
  font-family: c-gothic;
  src: url(../fonts/Gothic.ttf);
}
@font-face{
  font-family: b-gothic;
  src: url(../fonts/GOTHICB.TTF);
}

